/*#D7FBE8 #9DF3C4 #62D2A2 #1FAB89*/

* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #1FAB89;
}

.poll-page {
  margin: 20px auto;
}

button, input {
  background-color: #D7FBE8;
  padding: 10px;
  margin: 10px;
  border: none;
  width: 45%;
  font-size: 20px;
}

input:hover, button:hover {
  cursor: pointer;
  background-color: #62D2A2;
  color: #D7FBE8;
}

img {
  height: 70px;
  border-radius: 100%;
  text-align: center;
}

.avatar {
  display: inline-block;
}

.welcome {
  text-align: center;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

.btn-logout {
  float: right;
  width: 100px;
}

.btn-login {
  width: 100px;
}

.poll {
  background-color: #9DF3C4;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid #1FAB89;
  padding: 20px;
  width: 80%;
  margin: 100px auto;
}

.poll-question {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}
